.esplanacao {
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
}

.esplanacaoTitulo {
  font-family: var(--fonte-padrao);
  font-weight: 900;
  font-size: var(--clamp-titulo-2);
  color: var(--cor-escuro-1);
  margin: 16px 0;
}

.esplanacaoSubTitulo {
  font-family: var(--fonte-padrao);
  font-weight: 700;
  font-size: var(--clamp-titulo-3);
  margin: 8px 0;
  color: var(--cor-roxo);
}

.esplanacaoItem {
  font-size: var(--clamp-texto-2);
  color: var(--cor-escuro-1);
  line-height: 1.5;
  font-weight: 500;
}

.detalheEsplanacao {
  margin: 100px 0;
  height: 3px;
  border: none;
  background-color: var(--cor-laranja);
}

.exercicio {
  /* width: 80%; */
  min-width: 320px;
  height: auto;
  min-height: 100vh;
}

.exercicioConteudo {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0 5%;
  gap: 5%;
}

.painelLista {
  width: clamp(20rem, 15.3846rem + 20.5128vw, 40rem);
  height: clamp(11.25rem, 8.6538rem + 11.5385vw, 22.5rem);
  background-color: var(--cor-laranja);
  border-radius: 20px;
  box-shadow: -10px 10px 10px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 1;
  justify-content: space-around;
}

.painelConteudo {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.painelImg {
  width: 40%;
  height: auto;
}

.interacaoCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.painelTitulo {
  font-weight: 600;
  font-size: var(--clamp-titulo-3);
  margin: 16px 0;
}

.painelInput {
  width: 100%;
  padding: 5px 10px;
  border-radius: 10px;
  outline: none;
  border: 5px solid var(--cor-roxo);
  box-shadow: -5px 5px 0 0 var(--cor-roxo);
}

.painelInput:focus {
  border: 5px solid var(--cor-azul-piscina);
  box-shadow: -3px 3px 0 0 var(--cor-azul-piscina);
}

.painelBtn {
  width: 100px;
  padding: 5px 10px;
  border: 3px solid var(--cor-rosa);
  border-radius: 10px;
  background-color: var(--cor-claro-1);
  box-shadow: -3px 3px 0 0 var(--cor-rosa);
  font-weight: 600;
  color: var(--cor-escuro-1);
  align-self: flex-end;
}

.painelBtn:hover {
  cursor: pointer;
  scale: 0.95;
  box-shadow: none;
}

.listaTarefa {
  min-width: 320px;
  /* flex-basis: 2; */
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  align-items: flex-end;
}

.listaTabela {

  width: clamp(20rem, -9.4643rem + 58.9286vw, 61.25rem);
  text-align: start;
  border-collapse: collapse;
}

.linhaCabeca {
  width: 100%;
  height: auto;
  align-items: center;
  display: flex;
}

.celulaCabeca {
  border: 3px solid var(--cor-roxo);
}

.celulaMarcadorCabeca {
  width: 48px;
  height: auto;
  aspect-ratio: 1;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.marcadorCabeca {
  width: 90%;
  height: 90%;
  border-radius: 50px;
  background-image: url("../assets/img/tarefaCheked.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.celulaTarefaCabeca {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  padding: 2px;
  border: none;
}

.celulaExcluirCabeca,
.celulaEditarCabeca {
  width: 64px;
  height: 48px;
  padding: 2px;
  /* border: none; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.celulaExcluirCabeca:hover,
.celulaEditarCabeca:hover {
  cursor: pointer;
  scale: 1.2;
  transition: all 200ms ease-in-out;
}

.nomeTarefaTitulo,
.tituloTopico {
  font-family: var(--fonte-padrao);
  font-weight: 800;
}

.nomeTarefaTitulo {
  font-size: var(--clamp-titulo-3);
  color: var(--cor-escuro-1);
}

.celulaEditarCabeca {
  background-color: var(--cor-amarelo);
  border-radius: 10px;
  margin-right: 1%;
  padding: 1px 2px;
}

.celulaExcluirCabeca {
  background-color: var(--cor-rosa);
  border-radius: 10px;
  padding: 1px 2px;
}


.tituloTopico {
  font-size: var(--clamp-texto-tabela-2);
  color: var(--cor-smokie);
}

.listaDisplay {
  margin-top: 32px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  align-items: flex-end;
}

.novaTarefa {
  width: 100%;
  height: auto;
  align-items: center;
  display: flex;
  margin: 16px 0;
  gap: 1%;
}

.celulaTarefaEditar,
.celulaTarefaExcluir,
.celulaMarcadorTarefa {
  width: 48px;
  height: auto;
  aspect-ratio: 1;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.marcadorTarefa {
width: 90%;
height: 90%;
border-radius: 50px;
background-image: url("../assets/img/tarefaCheked.png");
background-position: center;
background-repeat: no-repeat;
background-size: contain;
}

.tarefaEditar {
  width: 90%;
height: 90%;
border-radius: 50px;
background-image: url("../assets/img/editarIcon.png");
background-position: center;
background-repeat: no-repeat;
background-size: contain;
}

.tarefaExcluir {
  width: 90%;
height: 90%;
border-radius: 50px;
background-image: url("../assets/img/excluirIcon.png");
background-position: center;
background-repeat: no-repeat;
background-size: contain;
}

.marcadorTarefaConcluida:hover,
.marcadorTarefa:hover,
.tarefaEditar:hover,
.tarefaExcluir:hover {
  cursor: pointer;
  scale: 1.2;
  transition: all 200ms ease-in-out;
}


.celulaTarefaNome {
  width: 100%;
  font-size: clamp(0.875rem, 0.7857rem + 0.1786vw, 1rem);
}

.linhaCabecaConcluida {
  margin-top: 32px;
}

.marcadorCabecaConcluida {
  width: 90%;
  height: 90%;
  border-radius: 50px;
  background-image: url("../assets/img/retornar.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.marcadorTarefaConcluida {
  width: 90%;
  height: 90%;
  border-radius: 50px;
  background-image: url("../assets/img/retornar.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}





@media (max-width: 800px) {
  .exercicioConteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .listaTabela {
    margin-top: 32px;
  }


}