.banner {
  width: 100%;
  height: 40vh;
}

.videoBanner {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  object-position: center;
  position: fixed;
  background-attachment: fixed;
  top: 0;
  left: 0;
  z-index: -2;
}

.textosBanner {
  width: 100%;
  height: 40vh;
  position: fixed;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  /* text-align: center; */
}

.tituloBanner {
  position: relative;
  color: var(--cor-lavander);
  font-weight: 700;
  font-size: var(--clamp-titulo-2);
  font-family: var(--fonte-padrao);
  transform: scale(2);
  letter-spacing: 2px;
  padding: 30px;
}

.tituloBanner::before,
.tituloBanner::after {
  position: absolute;
  content: attr(data-text);
  padding: 30px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: transparent;
  color: var(--cor-lavander);
  overflow: hidden;
}

.tituloBanner::before {
  left: 3px;
  text-shadow: -2px 0 var(--cor-rosa);
  animation: glitch-1 3000ms linear reverse infinite;
}

.tituloBanner::after {
  left: -3px;
  text-shadow: -2px 0 var(--cor-azul-piscina);
  animation: glitch-2 3000ms linear reverse infinite;
}

.assinaturaBanner {
  font-size: 16px;
  color: var(--cor-lavander);
  background-attachment: fixed;
}

@keyframes glitch-1 {
  0% {
    clip: rect(132px, auto, 101px, 30px);
  }

  5% {
    clip: rect(17px, auto, 94px, 30px);
  }

  10% {
    clip: rect(40px, auto, 66px, 30px);
  }

  15% {
    clip: rect(87px, auto, 82px, 30px);
  }

  20% {
    clip: rect(137px, auto, 61px, 30px);
  }

  25% {
    clip: rect(34px, auto, 14px, 30px);
  }

  30% {
    clip: rect(133px, auto, 74px, 30px);
  }

  35% {
    clip: rect(76px, auto, 107px, 30px);
  }

  40% {
    clip: rect(59px, auto, 130px, 30px);
  }

  45% {
    clip: rect(29px, auto, 84px, 30px);
  }

  50% {
    clip: rect(22px, auto, 67px, 30px);
  }

  55% {
    clip: rect(67px, auto, 62px, 30px);
  }

  60% {
    clip: rect(10px, auto, 105px, 30px);
  }

  65% {
    clip: rect(78px, auto, 115px, 30px);
  }

  70% {
    clip: rect(105px, auto, 13px, 30px);
  }

  75% {
    clip: rect(15px, auto, 75px, 30px);
  }

  80% {
    clip: rect(66px, auto, 39px, 30px);
  }

  85% {
    clip: rect(133px, auto, 73px, 30px);
  }

  90% {
    clip: rect(36px, auto, 128px, 30px);
  }

  95% {
    clip: rect(68px, auto, 103px, 30px);
  }

  100% {
    clip: rect(14px, auto, 100px, 30px);
  }
}

@keyframes glitch-2 {
  0% {
    clip: rect(129px, auto, 36px, 30px);
  }

  5% {
    clip: rect(36px, auto, 4px, 30px);
  }

  10% {
    clip: rect(85px, auto, 66px, 30px);
  }

  15% {
    clip: rect(91px, auto, 91px, 30px);
  }

  20% {
    clip: rect(148px, auto, 138px, 30px);
  }

  25% {
    clip: rect(38px, auto, 122px, 30px);
  }

  30% {
    clip: rect(69px, auto, 54px, 30px);
  }

  35% {
    clip: rect(98px, auto, 71px, 30px);
  }

  40% {
    clip: rect(146px, auto, 34px, 30px);
  }

  45% {
    clip: rect(134px, auto, 43px, 30px);
  }

  50% {
    clip: rect(102px, auto, 80px, 30px);
  }

  55% {
    clip: rect(119px, auto, 44px, 30px);
  }

  60% {
    clip: rect(106px, auto, 99px, 30px);
  }

  65% {
    clip: rect(141px, auto, 74px, 30px);
  }

  70% {
    clip: rect(20px, auto, 78px, 30px);
  }

  75% {
    clip: rect(133px, auto, 79px, 30px);
  }

  80% {
    clip: rect(78px, auto, 52px, 30px);
  }

  85% {
    clip: rect(35px, auto, 39px, 30px);
  }

  90% {
    clip: rect(67px, auto, 70px, 30px);
  }

  95% {
    clip: rect(71px, auto, 103px, 30px);
  }

  100% {
    clip: rect(83px, auto, 40px, 30px);
  }
}

main {
  width: 100%;
  min-height: 100vh;
  background-color: var(--cor-lavander);
  z-index: 1;
}

.esplanacao {
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
}

.esplanacaoTitulo {
  font-family: var(--fonte-padrao);
  font-weight: 900;
  font-size: var(--clamp-titulo-2);
  color: var(--cor-escuro-1);
  margin: 16px 0;
}

.esplanacaoSubTitulo {
  font-family: var(--fonte-padrao);
  font-weight: 700;
  font-size: var(--clamp-titulo-3);
  margin: 8px 0;
  color: var(--cor-roxo);
}

.esplanacaoItem {
  font-size: var(--clamp-texto-2);
  color: var(--cor-escuro-1);
  line-height: 1.5;
  font-weight: 500;
}

.detalheEsplanacao {
  margin: 100px 0;
  height: 3px;
  border: none;
  background-color: var(--cor-laranja);
}

.exercicio {
  /* width: 80%; */
  min-width: 320px;
  height: auto;
  min-height: 100vh;
}

.exercicioConteudo {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0 5%;
  gap: 5%;
}

.painelLista {
  width: clamp(20rem, 15.3846rem + 20.5128vw, 40rem);
  height: clamp(11.25rem, 8.6538rem + 11.5385vw, 22.5rem);
  background-color: var(--cor-laranja);
  border-radius: 20px;
  box-shadow: -10px 10px 10px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 1;
  justify-content: space-around;
}

.painelConteudo {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.painelImg {
  width: 40%;
  height: auto;
}

.interacaoCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.painelTitulo {
  font-weight: 600;
  font-size: var(--clamp-titulo-3);
  margin: 16px 0;
}

.painelInput {
  width: 100%;
  padding: 5px 10px;
  border-radius: 10px;
  outline: none;
  border: 5px solid var(--cor-roxo);
  box-shadow: -5px 5px 0 0 var(--cor-roxo);
}

.painelInput:focus {
  border: 5px solid var(--cor-azul-piscina);
  box-shadow: -3px 3px 0 0 var(--cor-azul-piscina);
}

.painelBtn {
  width: 100px;
  padding: 5px 10px;
  border: 3px solid var(--cor-rosa);
  border-radius: 10px;
  background-color: var(--cor-claro-1);
  box-shadow: -3px 3px 0 0 var(--cor-rosa);
  font-weight: 600;
  color: var(--cor-escuro-1);
  align-self: flex-end;
}

.painelBtn:hover {
  cursor: pointer;
  scale: 0.95;
  box-shadow: none;
}

.listaTarefa {
  min-width: 320px;
  /* flex-basis: 2; */
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  align-items: flex-end;
}

.listaTabela {

  width: clamp(20rem, -9.4643rem + 58.9286vw, 61.25rem);
  text-align: start;
  border-collapse: collapse;
}

.linhaCabeca {
  width: 100%;
  height: auto;
  align-items: center;
  display: flex;
}

.celulaCabeca {
  border: 3px solid var(--cor-roxo);
}

.celulaMarcadorCabeca {
  width: 48px;
  height: auto;
  aspect-ratio: 1;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.marcadorCabeca {
  width: 90%;
  height: 90%;
  border-radius: 50px;
  background-image: url("../assets/img/tarefaCheked.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.celulaTarefaCabeca {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  padding: 2px;
  border: none;
}

.celulaExcluirCabeca,
.celulaEditarCabeca {
  width: 64px;
  height: 48px;
  padding: 2px;
  /* border: none; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.celulaExcluirCabeca:hover,
.celulaEditarCabeca:hover {
  cursor: pointer;
  scale: 1.2;
  transition: all 200ms ease-in-out;
}

.nomeTarefaTitulo,
.tituloTopico {
  font-family: var(--fonte-padrao);
  font-weight: 800;
}

.nomeTarefaTitulo {
  font-size: var(--clamp-titulo-3);
  color: var(--cor-escuro-1);
}

.celulaEditarCabeca {
  background-color: var(--cor-amarelo);
  border-radius: 10px;
  margin-right: 1%;
  padding: 1px 2px;
}

.celulaExcluirCabeca {
  background-color: var(--cor-rosa);
  border-radius: 10px;
  padding: 1px 2px;
}


.tituloTopico {
  font-size: var(--clamp-texto-tabela-2);
  color: var(--cor-smokie);
}

.listaDisplay {
  margin-top: 32px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  align-items: flex-end;
}

.novaTarefa {
  width: 100%;
  height: auto;
  align-items: center;
  display: flex;
  margin: 16px 0;
  gap: 1%;
}

.celulaTarefaEditar,
.celulaTarefaExcluir,
.celulaMarcadorTarefa {
  width: 48px;
  height: auto;
  aspect-ratio: 1;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.marcadorTarefa {
width: 90%;
height: 90%;
border-radius: 50px;
background-image: url("../assets/img/tarefaCheked.png");
background-position: center;
background-repeat: no-repeat;
background-size: contain;
}

.tarefaEditar {
  width: 90%;
height: 90%;
border-radius: 50px;
background-image: url("../assets/img/editarIcon.png");
background-position: center;
background-repeat: no-repeat;
background-size: contain;
}

.tarefaExcluir {
  width: 90%;
height: 90%;
border-radius: 50px;
background-image: url("../assets/img/excluirIcon.png");
background-position: center;
background-repeat: no-repeat;
background-size: contain;
}

.marcadorTarefaConcluida:hover,
.marcadorTarefa:hover,
.tarefaEditar:hover,
.tarefaExcluir:hover {
  cursor: pointer;
  scale: 1.2;
  transition: all 200ms ease-in-out;
}


.celulaTarefaNome {
  width: 100%;
  font-size: clamp(0.875rem, 0.7857rem + 0.1786vw, 1rem);
}

.linhaCabecaConcluida {
  margin-top: 32px;
}

.marcadorCabecaConcluida {
  width: 90%;
  height: 90%;
  border-radius: 50px;
  background-image: url("../assets/img/retornar.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.marcadorTarefaConcluida {
  width: 90%;
  height: 90%;
  border-radius: 50px;
  background-image: url("../assets/img/retornar.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}





@media (max-width: 800px) {
  .exercicioConteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .listaTabela {
    margin-top: 32px;
  }


}